<%="Event Doesn't Exist?"%>

  <a href="#" data-reveal-id="eventModal" class="button">Create An Event</a>

    <div id="eventModal" class="reveal-modal small" data-reveal aria-labelledby="eventModalTitle" aria-hidden="true" role="dialog">
    <h2 id="eventModalTitle">Create An Event</h2>
       <%= form_for @new_event, method: :post do |f| %>
        <%= f.label "Name of Event"%>
        <%= f.text_field :name%>
        <%= f.label "Location"%>
        <%= f.text_field :location%>
        <%= f.date_field :date, :start_year => Date.current%>
        <%= f.time_field :time, :start_time => Time.current%>
      <%= submit_tag "Submit"%>
    <% end %>
    </div>

<%= form_for search_path, method: :get do |f| %>
  <%= f.label 'Search for event' %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<%if @events%>
  <% @events.each do |event| %>
    <br>
      <%= event.date %>
      <%#= link_to "#{city.name} (#{country_name})", country_city_path(country_id, city)%>
    </br>
  <%end%>
<%end%>
