<%="Event Doesn't Exist?"%>

  <a href="#" data-reveal-id="eventModal" class="button">Create An Event</a>

    <div id="eventModal" class="reveal-modal small" data-reveal aria-labelledby="eventModalTitle" aria-hidden="true" role="dialog">
    <h2 id="eventModalTitle">Create An Event</h2>
       <%= form_for @new_event, method: :post do |f| %>
        <%= f.label "Name of Event"%>
        <%= f.text_field :name%>
        <%= f.label "Location"%>
        <%= f.text_field :location%>
        <%= f.date_field :date, :start_year => Date.current%>
        <%= f.time_field :time, :start_time => Time.current%>
      <%= submit_tag "Submit"%>
    <% end %>
    </div>

<%= form_for search_path, method: :get do |f| %>
  <%= f.label 'Search for event' %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<%if @events%>
  <% @events.each do |event| %>
    <br>
      <div style ="position:relative; left: -200px; margin: auto;width: 4px;height:300px; width: 1500px; top: 25px; background:white;border:20px solid white">
  <div style ="position:relative; left:150px">
    <a href="#"><img src="http://placehold.it/300x240&text=[img]"/></a>
  </div>
  <div style ="position:relative; left:25px; top:-225px">
    <h3>
      <%="Event"%>
    </h3>
      <div>
        <%=event.name.split.map(&:capitalize)*' '%>
      </div>
    <h4>
      <%="Location"%>
    </h4>
      <div>
        <%=event.location.split.map(&:capitalize)*' '%>
      </div>
    <div>
      <%=event.date.strftime("%m/%d/%Y")%>
    </div>
    <div>
      <%=event.time.strftime("%I:%M%p")%>
    </div>
  </div>
</div>
    </br>
  <%end%>
<%end%>

