<body style = "background:#FFF">
  <div style ="position:relative; left: -300px; margin: auto;width: 4px;height:300px; width: 500px; top: 25px; background:white;border:20px solid white">
    <div style ="position:relative; left:150px">
      <a href="#">
        <img src="http://placehold.it/300x240&text=[img]"/>
      </a>
    </div>
    <div style ="position:relative; left:25px; top:-225px">
      <h3>
        <%="Event"%>
      </h3>
        <div>
          <%=@event.name.split.map(&:capitalize)*' '%>
        </div>
      <h4>
        <%="Location"%>
      </h4>
          <div>
            <%=@event.location.split.map(&:capitalize)*' '%>
          </div>
        <div>
          <%=@event.date.strftime("%m/%d/%Y")%>
        </div>
          <div>
            <%=@event.time.strftime("%I:%M%p")%>
          </div>
      </div>
    </div>
  </div>


<!doctype html>
<html lang="en" ng-app="application">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>zChat</title>
    <link href="assets/css/app.css" rel="stylesheet" type="text/css">
    <script src="assets/js/app.js"></script>
    <script src="assets/js/routes.js"></script>
    <script src="assets/js/angular.js"></script>
  </head>

  <style>
    .message-input, .message-input .inline-label, .menu-bar {margin-bottom: 0;}
    #sidebar, .messages {border-right: 1px solid #eee;}
    .message-side-bar {border-left: 1px solid #eee;}
    .avatar-section {border-top: 1px solid #eee;}
  </style>

    <div class="grid-frame" style="top:-275px; width:1125px">
      <div class="grid-block collapse medium-9 large-9 vertical" style="background:white;position:relative;left:520px">
        <div id="header" class="shrink collapse grid-content">
        </div>
        <div class="grid-block">
          <div class="grid-block small-12 medium-9 vertical">
            <div class="grid-content">
              <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
              <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.</p>
              <hr />
              <h4><img src="http://placehold.it/30x30"> Kevin Gnapoor</h4>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
              <hr />
              <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
              <hr />
              <h4><img src="http://placehold.it/30x30"> Trang Pak</h4>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
              <hr />
              <h4><img src="http://placehold.it/30x30"> Coach Carr</h4>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
              <hr />
              <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
              <hr />
              <h4><img src="http://placehold.it/30x30"> Trang Pak</h4>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
              <hr />
              <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
              <hr />
            </div>
            <div class="message-input grid-content collapse shrink" style="width:610px">
              <span class="inline-label">
                <input type="text" placeholder="Message">
                <a href="#" class="button">Send</a>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>

<div id= "ticket-box" style ="position:relative; left: -300px; margin: auto;width: 4px;height:275px; width: 490px; top: -550px; background:white;border:20px solid white">
  <div style ="left:25px; top:-225px">
    <h3>
      <%="Tickets"%>
    </h3>

    <a href="#" data-reveal-id="ticketModal" class="button">Sell A Ticket</a>
  <div>

  <div style ="position:relative;left:200px;top:-75px;">
    <div id ="event-tickets" style="overflow: scroll; height:200px">
      <%if @tickets%>
        <%@tickets.each do |t|%>
              <ul>
                <%="Kevin Baker: 1 ticket"%>
              </ul>
              <ul>
                <button type="button" class="btn btn-primary btn-lg raised">Bid</button>
                <%="$#{t.price}"%>
              </ul>
        <%end%>
      <%end%>
    </div>
  </div>

</div>
</body>

<div id="ticketModal" class="reveal-modal small" data-reveal aria-labelledby="eventModalTitle" aria-hidden="true" data-target="#ticketModal" role="dialog" id="#{@event.id}">
    <h2 id="ticketModalTitle">Sell An Ticket</h2>
     <div class="modal-body">
        <%event_name = Event.find(params[:id])%>
        <h3>
          <%=event_name.name.split.map(&:capitalize)*' '%>
        </h3>
      </div>
       <%= form_for @new_ticket, method: :post do |f| %>
        <%= f.hidden_field :event_id, :value => "#{@event.id}" %>
        <%= f.label "Price"%>
        <%= f.text_field :price%>
        <%= f.label "Postdate"%>
        <%= f.text_field :postdate%>
        <%= f.label "Enddate"%>
        <%= f.text_field :enddate%>
        <%= submit_tag "Submit"%>
    <% end %>
    </div>

  <script src="assets/foundation.js"></script>
  <script src="assets/foundation/foundation.reveal.js"></script>



<!-- ui-view  -->


