<!DOCTYPE html>
<html>
<head>
  <title>eTix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

      <nav class="top-bar" data-topbar>
        <ul class="title-area">

          <li class="name">
            <h1>
              <a href="/" style="color:#90EE90;font-weight:bold;">
                eTix
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#" style="color:#DDA0DD;font-weight:bold;">Tickets</a>
              <ul class="dropdown">
                <li><label>Selling</label></li>
                <li><a href="#" data-reveal-id="firstModal">Search Tickets</a></li>
                <li><a href="#">My Tickets</a></li>
                <li class="divider"></li>
                <li><label>Buying</label></li>
                <li><a href="#">Current Bids</a></li>
                <li><a href="#">Purchase History</a></li>
                <li><a href="#">Wishlist</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#" style="color:#DDA0DD;font-weight:bold;">Events</a>
              <ul class="dropdown">
                <li><a href="#">Near Me</a></li>
                <li><a href="#">Festivals</a></li>
                <li><a href="#">Electro House</a></li>
                <li><a href="#">Deep House</a></li>
                <li><a href="#">Tropical House</a></li>
                <li><a href="#">Trance</a></li>
                <li><a href="#">Future House</a></li>
                <li><a href="#">Chill</a></li>
                <li><a href="#">Dubstep</a></li>
                <li><a href="#">Others</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#" style="color:#DDA0DD;font-weight:bold;">My Profile</a>
              <ul class="dropdown">
                <li><a href="#">Summary</a></li>
                <li><a href="#">Edit Profile</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>

    <div id="firstModal" class="reveal-modal small" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
    <h2 id="firstModalTitle">Which Event?</h2>
       <%= form_for search_path, method: :get do |f| %>
      <%= text_field_tag :q, params[:q] %>
      <%= submit_tag "Search", name: nil %>
    <% end %>
    </div>

  <div id="secondModal" class="reveal-modal" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
    <h2 id="secondModalTitle">This is a second modal.</h2>
    <p>See? It just slides into place after the other first modal. Very handy when you need subsequent dialogs, or when a modal option impacts or requires another decision.</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

<div>

<!--
      <%=form_for @new_ticket do |f|%>

        <fieldset>

           <div class="event-field">
           <%= f.label :event_id, "Name of Event"%>
           <%= f.text_field :event_id%>
           </div>

           <div class="loc-field">
           <%= f.label :event_id, "Name of Event"%>
           <%= f.text_field :event_id%>
           </div>

            <div class="loc-field">
              <label for="location">Location <small>required</small></label>
                <input type="location" name="location" id="location" required>
              <small class="error">A location is required.</small>
            </div>

            <div class="time-field">
              <label for="time">Event Time</label>
                <input type="time" name="time" id="time">
            </div>

            <div class="date-field">
              <label for="date">Event Date</label>
                <input type="date" name="date" id="date">
            </div>

            <button type="submit" value="send">Submit</button>

        </fieldset>
      <%end%>


      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  -->

  <script src="assets/foundation.js"></script>
  <script src="assets/foundation/foundation.reveal.js"></script>


<%= yield %>

</body>
</html>



